In [1]:
##Q1. Create one variable containing following type of data:

In [2]:
l=["Rocky", [3,4,5,6,7,8,9], 56.78, (34,65,21)]

In [3]:
l

['Rocky', [3, 4, 5, 6, 7, 8, 9], 56.78, (34, 65, 21)]

In [4]:
##Q2. Given are some following variables containing data:

In [5]:
##var1= string
##var2= string
##var3= list
##var4= float

In [6]:
##Q3. Explain the use of the following operators using an example:

## / -> used in divide operation
## % -> use to get the remainder while dividing operation with whole number resultant
## //-> used to do floor division operation
## ** -> used in power operation

In [7]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
##element and its data type.

l1= [12,45.6, "Rocky", [3,4,5], "string", "Shaw", (56,78,98), {34,21,13,25,56}, "A", 21]

In [8]:
l1

[12,
 45.6,
 'Rocky',
 [3, 4, 5],
 'string',
 'Shaw',
 (56, 78, 98),
 {13, 21, 25, 34, 56},
 'A',
 21]

In [9]:
len(l1)

10

In [11]:
for i in l1:
    print(i), print(type(i))

12
<class 'int'>
45.6
<class 'float'>
Rocky
<class 'str'>
[3, 4, 5]
<class 'list'>
string
<class 'str'>
Shaw
<class 'str'>
(56, 78, 98)
<class 'tuple'>
{34, 21, 56, 25, 13}
<class 'set'>
A
<class 'str'>
21
<class 'int'>

In [12]:
##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
##times it can be divisible.
A = 100
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

print("A is divisible by B", count, "times")

A is divisible by B 2 times

In [13]:
##Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
##divisible by 3 or not.

l2= [33,34,67,69,96,74,56,76,89,12,31,54,67,87,97,68,35,65,123,568,986,432,654,234,912]

In [14]:
len(l2)

25

In [20]:
for i in l2:
    if i%3==0:
        print(str(i) + " is divisible by 3")
    else: print(str(i) + " is not divisible by 3")

33 is divisible by 3
34 is not divisible by 3
67 is not divisible by 3
69 is divisible by 3
96 is divisible by 3
74 is not divisible by 3
56 is not divisible by 3
76 is not divisible by 3
89 is not divisible by 3
12 is divisible by 3
31 is not divisible by 3
54 is divisible by 3
67 is not divisible by 3
87 is divisible by 3
97 is not divisible by 3
68 is not divisible by 3
35 is not divisible by 3
65 is not divisible by 3
123 is divisible by 3
568 is not divisible by 3
986 is not divisible by 3
432 is divisible by 3
654 is divisible by 3
234 is divisible by 3
912 is divisible by 3

In [21]:
##Q7. What do you understand about mutable and immutable data types? Give examples for both showing
##this property.

## Mutable data types are those whose values can be modified once they are created.

## Immutable data types are those whose values cannot be modified once they are created.

In [22]:
list= [3,4,5]

In [23]:
list

[3, 4, 5]

In [24]:
list[0]=2

In [25]:
list

[2, 4, 5]

In [26]:
tuple= (3,4,5)

In [27]:
tuple

(3, 4, 5)

In [29]:
tuple[0]=2

TypeError: 'tuple' object does not support item assignment